.bigTextWarpper {
  display: inline-block;
  width: 70%;
  margin: 0;
}

.bigText {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 250px;
  hyphens: auto;
  color: white;
  width: 50%;
}

.bigText--front,
.bigText--back {
  position: absolute;
  word-break: break-all;

}

.bigText--front {
  z-index: 20;
}

.bigText--back {
  z-index: 10;
  text-shadow: 0 0 3px grey;
}

/* Gradient text-shadow */
.bigText--back {
  text-shadow: 2px 2px 1px #5458c5,
	       2px -2px 1px #f0f346,
	       -2px 2px 1px #f31515,
	       -2px -2px 1px #1291ea;
}

.bigTextImage {
  position: absolute;
  z-index: 15;

}
